.env

# Backend
backend/.gradle/
backend/build/
backend/bin/
backend/.idea/
backend/src/main/resources/application-local.yml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/
.DS_Store
